문서 내용 -> 임베딩 되어있다고 가정

1. sector가 같은 것 중에 top5 가져오기
2. sector가 다른 것 중에 top5 가져오기
3. 사전에 DB에 유사한 문서 기록한 후 저장 (To DB)

Input: Target article-url
Output: List[List, List]

In [1]:
import pandas as pd
import os

In [10]:
sample = [['https://aa.com', '2024-09-10', '[1, 2, 3, 4]', 'IT'], ['https://xb.com', '2024-09-08', '[2, 1, 4, 3]', 'economy'], ['https://bc.com', '2024-09-06', '[2, 1, 3, 3]', 'IT'], ['https://bd.com', '2024-089-08', '[1, 1, 1, 1]', 'economy']]
df = pd.DataFrame(sample, columns=['article_url', 'reg_date', 'vector', 'sector'])
df

      article_url     reg_date        vector   sector
0  https://aa.com   2024-09-10  [1, 2, 3, 4]       IT
1  https://xb.com   2024-09-08  [2, 1, 4, 3]  economy
2  https://bc.com   2024-09-06  [2, 1, 3, 3]       IT
3  https://bd.com  2024-089-08  [1, 1, 1, 1]  economy

In [16]:
target_url = 'https://xb.com'
article = df[df['article_url'] == target_url].iloc[0]
article

article_url    https://xb.com
reg_date           2024-09-08
vector           [2, 1, 4, 3]
sector                economy
Name: 1, dtype: object

In [21]:
# Get Date Range
std_date = article['reg_date']
std_date

'2024-09-08'

In [30]:
# 최근 1개월
st_date = pd.to_datetime(std_date, format=r'%Y-%m-%d') - pd.offsets.DateOffset(months=1)
st_date = st_date.strftime(r'%Y-%m-%d')
end_date = pd.to_datetime(std_date, format=r'%Y-%m-%d') + pd.offsets.DateOffset(months=1)
end_date = end_date.strftime(r'%Y-%m-%d')

st_date, end_date

('2024-08-08', '2024-10-08')

In [ ]:
class Article():
    def __init__(self, article_url):
        
        return